@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer Index</h2>
{

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Address)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.PickupDay)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.NextPickup)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextPickup)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
}

