@model IEnumerable<TrashCollector.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledPickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePaidFor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledPickup)
            </td>
            <td>
                <div class="form-group">
                    @Html.LabelFor(modelItem => item.PickupCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(modelItem => item.PickupCompleted)
                            @Html.ValidationMessageFor(modelItem => item.PickupCompleted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePaidFor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
